body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

header img {
  width: 150px;
  height: auto;
  margin-bottom: 30px;
}
header{
background-color: #313131;
padding: 100px;
text-align: center;
background-image: url('imagee.png'); 
background-size: cover;
background-position: center;
border-radius: 8px;
color: #fff;
}

.learn-more-btn {
  background-color: #007bff;
  text-decoration: none;
  color: white;
  padding: 12px 30px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.learn-more-btn:hover {
  background-color: #0056b3;
}

nav {
  background-color: #333;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
}

nav a:hover {
  background-color: #0046d5;
  color: white;
}

section {
  padding: 5px;
  /* margin-bottom: 20px; */
}

.container {
  width: 100%;
  background-color: white;
  margin: 0 auto;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0, 1);
}

.main-body {
  background-color: #f2f2f2;
  padding: 20px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.footer {
  background-color: #333;
  color: rgb(85, 82, 82);
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
}
section {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0, 1);
}

.container1 {
  display: flex;
  gap: 20px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;

}

.card {
  width: 200px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2{
  color: #0046b5;
}
h1 {
  color: white
}
.hex-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  margin: 20px 0;
  color: #4050df;
}

.hex-item {
  width: 175px;
  height: 175px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  clip-path: polygon(25% 6.7%, 75% 6.7%, 100% 50%, 75% 93.3%, 25% 93.3%, 0% 50%);
  transition: background-color 0.3s ease;
  color: #4050df;
}

.hex-item p {
  font-size: 16px;
  font-weight: bold;
  color:#0046B5;

}


.hex-item:hover {
  background-color: yellow;
  color: white;
}

.hex-item:nth-child(odd){
  margin-top: 40px
}

.social-media {
  margin-top: 10px;
}

.social-media a {
  text-decoration: none;
  margin: 0 10px;
  color: whitesmoke;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-media a:hover {
  transform: scale(1.2);
  color: #ffe500;
}

.social-media i {
  font-size: 24px;
  color: whitesmoke;
  transition: all 0.5s;
}

footer {
  background-color: black;
  color: whitesmoke;
  text-align: center;
  padding: 20px;
}
.social-media i:hover{
  font-size: 50px;
}

iframe{
  display: block;
  margin: 0 auto;
  height: 300px;
  width:600px
}
/* .container p{
  text-align: center;
} */
.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35vh;
  /* background-image: url('imagee.png'); */
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.slideshow {
  display: flex;
  width: 300%;
  height: 100%;
  animation: slideShow 15s infinite;
}

.hero-content {
  min-width: 100%;
  color: white;
  text-align: center;
  z-index: 1;
  position: relative;
}

.hero-content h1 {
  font-size: 3em;
  margin-top: 5px;
}

.hero-content p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.hero-content .btn {
  display: inline-block;
  padding: 15px 30px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.hero-content .btn:hover {
  background-color: #0056b3;
}
.slideshow .hero-content:nth-child(1) {
  background-image: url('imagee.png');
  background-size: cover;
  background-position: center;
}

.slideshow .hero-content:nth-child(2) {
  background-image: url('slide2.jpg');
  background-size: cover;
  background-position: center;

}

.slideshow .hero-content:nth-child(3) {
  background-image: url('slide3.jpg');
  background-size: cover;
  background-position: center;
}

@keyframes slideShow {
  0% {
      transform: translateX(0);
  }
  20% {
      transform: translateX(0);
  }
  30% {
      transform: translateX(-100%);
  }
  50% {
      transform: translateX(-100%);
  }
  60% {
      transform: translateX(-200%);
  }
  80% {
      transform: translateX(-200%);
  }
  100% {
      transform: translateX(0);
  }
}
